httpx
pytest
black
isort
mypy
fastapi
uvicorn
python-multipart
python-dotenv
requests
Pillow
openai
pdf2image
gpt_index
langchain
langchain-community
langchain-core
llama_index
pypdf
spacy
ragas
datasets
docx2txt
cryptography
poppler-utils
PyMuPDF
pyjwt
pymongo
pydantic==1.10